/* Font */

@font-face {
   font-family: 'ak';
   src: url('../font/AkkRg_Pro_1.otf') format('truetype');
}

@font-face {font-family: 'century';
   src: url("f0ff76482ca4e3978705a15123dafd10.eot"); /* IE9*/
   src: url("f0ff76482ca4e3978705a15123dafd10.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("f0ff76482ca4e3978705a15123dafd10.woff2") format("woff2"), /* chrome、firefox */
      url("f0ff76482ca4e3978705a15123dafd10.woff") format("woff"), /* chrome、firefox */
      url("f0ff76482ca4e3978705a15123dafd10.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("f0ff76482ca4e3978705a15123dafd10.svg#New Century Schoolbook V1") format("svg"); /* iOS 4.1- */
}

/* FONT */
/* HTML reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{
   line-height: 1;
   padding-right: 50px;
}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
html {box-sizing: border-box;}
*, *:before, *:after {
   box-sizing: inherit;}

a {
   text-decoration: none;
   color: black;
}

/*GENERAL*/

html, body{
   font-family: 'ak', sans-serif;
   width: 100%;
   height: 100%;
}

h1{
   font-family: 'century', serif;
   font-size: 36px;
   margin-top: 12px;
}


/*MASON*/
body #fillers {
	display: none;
}
body #book-container {
	position: relative;
	display: inline-block;
	width: 350%;
   height: calc(100% - 100px);
   margin-top: 150px;
   border: 1px solid red;
}

body #book-container .mason_filler{

}

body #book-container .mason_filler{
	position: relative;
	float: left;
}


nav{
	float: left;
   left: 25px;
	background-color: white;
	display: inline;
	position: fixed;
	padding: 0 0 20px 20px;
	z-index: 99999;
	box-sizing: border-box;
   overflow: visible;
}
#title {
   top: 30px;
   width: 300px;
}
#menu {
   top: 250px;
   width: 200px;
}

ul{
	margin-top: 10%;
}

li{ margin: 5px 0; }




ul#selection{
	color: white;
	left: 45px;
	bottom: 10px;
	position: fixed;
	z-index: 1001;
	font-weight: bold;
}


/*SELECTION*/

.livre{
	margin-left: 20%;
   background: linear-gradient( white, grey);
   display:flex;
   overflow: hidden;
   background-image: url();
   background-position: center;
   background-size: cover;
/*	box-shadow: 0 0 0 black;*/
}

.livre h4{
   padding: 5px;
   margin: 5px;
   opacity: 0;
   position: absolute;
   z-index: 100;
   margin-bottom: 20px;
   width: 130px;
   background: black;
   color: white;
   display: inline-block;
}

.livre.select{
	margin-left: 20%;
   background: white;
	box-shadow: 0 0 50px black;
}

.livre.select h4{
   opacity: 100;
}

/*NOUVEAU*/

.view {
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   z-index: 100;
}

.view_visible {
   display:inline-block;
}

#frame {
   width: 100%;
   height: 100%;
}

#livre_container,
#a_propos_container {
   overflow-x: hidden;
   overflow-y: hidden;  
}


.livre_desc,
.a_propos_desc {
   z-index: 100;
   position: fixed;
   display: inline;
   background: white;
   padding: 10px;
   top: 20%;
   left: 40%;
   height: 500px;
   width: 600px;
}

.ecoles_popup {
   display: none;
   position: fixed;
   margin: 75px 0 0 350px;
   z-index: 10000;
}
.ecoles_popup ul li{
   width: 400px;
   background: white;
}
.ecoles_popup_visible {
   display: inline-block;
}

#index-body {
   background-color: black;
   background-image: url(../img/fond.jpg);
   ;
}

body #container {
   position: fixed;
   margin-left: 25%;
   overflow-x: scroll;
   overflow-y: hidden;
   height: 100%;
   border: 1px solid blue;
}

h2, ul {
   margin-left: 30px;
}


/*SELECTION*/


.box{
   position: relative;
   float: left;
   display: inline-block;
   margin: 0 50px;
}


.un_livre_mon,
.un_livre_ren,
.un_livre_lyo,
.un_livre_val,
.un_livre_str,
.un_livre_bru,
.un_livre_gen,
.un_livre_tou,
.un_livre_bes{
   box-shadow: 0 0 0 black;
   display:flex;
   justify-content:center;
   align-items:center;

}

.un_livre_mon{
   text-align: center;
   /*border: 1px solid red;*/
}

.un_livre_mon .livre{

}

.un_livre_mon:hover .livre{

}

.un_livre_mon h4{
   position: absolute;
   opacity: 0;
   z-index: 100;
   margin-bottom: 20px;
   background: black;
   color: white;
}
.un_livre_mon h5{
   position: absolute;
   opacity: 0;
   z-index: 100;
   margin-top: 20px;
}

.un_livre_mon:hover h4,
.un_livre_mon:hover h5{
   opacity: 1;
}




#nom_mon,
#nom_ren,
#nom_lyo,
#nom_val,
#nom_str,
#nom_bru,
#nom_gen,
#nom_tou,
#nom_bes{

   display: none;

}


body #fillers {
   display: none;
}
body #selection-container {
   position: relative;
   display: inline-block;
   width: 200%;
   height: 100%;
   margin-top: 50px;
   border: 1px solid red;
}

body #selection-container .mason_filler{

}

body #selection-container .mason_filler{
   position: relative;
   float: left;


}
.livre {
   width: 100%;
}

.view {
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   right: 0;
   z-index: 100;
}

.view_visible {
   display:inline-block;
}

body,
#livre_container,
#livre_bg,
#a_propos_container,
#a_propos_bg{
   height: 100%;
   width: 100%;
}

#livre_bg {
   height: 100%;
   width: 100%;
   z-index: 0;
}

body,
#livre_container,
#a_propos_container {
   overflow-y: hidden;  
}

.livre_desc,
.a_propos_desc {
   z-index: 100;
   position: fixed;
   display: inline;
   background: white;
   padding: 10px;
   top: 20%;
   left: 40%;
   height: 500px;
   width: 600px;
}



#livre_cover {
   height: 300px;
}

.livre_cover {
   width: 50%;
   display: inline-block;
}
