/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;

}

li, ul, a {

	text-decoration: none;
	color: inherit;
}

li{

	list-style: none;
}


/* --------------- scrollbar --------------- */

/* Réglages généraux (largeur) */
/*::-webkit-scrollbar {width: 10px; position: fixed; right: 0px; margin-top:-20px;}
::-moz-scrollbar {width: 10px; position: fixed; right: 0px; margin-top:-20px;}
*/
/* Réglages de la barre contenante */
/*::-webkit-scrollbar-track-piece {background-color: none;}
::-moz-scrollbar-track-piece {background-color: none;}
*/
/* Réglages de la barre contenue */
/*::-webkit-scrollbar-thumb {background: rgba(255, 255, 255, 1);}
::-moz-scrollbar-thumb {background: rgba(255, 255, 255, 1);}*/


/* FONTS */

@font-face {
	font-family: "newCentury";
	src: url('../fonts/newCentuSchool/New_Century_Schoolbook_V1.ttf') format('ttf'),
		 url('../fonts/newCentuSchool/New_Century_Schoolbook_V1.eot') format('eot'),
		 url('../fonts/newCentuSchool/New_Century_Schoolbook_V1.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {

	font-family: "newCentury";
	src: url('../fonts/newCentuSchool/ufonts.com_century-schoolbook-bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {

	font-family: "newCentury";
	src: url('../fonts/newCentuSchool/ita/new-century-schoolbook-italic-589c826dbb6ed.ttf') format('ttf'),
		 url('../fonts/newCentuSchool/ita/new-century-schoolbook-italic-589c826dbb6ed-webfont.woff') format('woff'),
		 url('../fonts/newCentuSchool/ita/nnew-century-schoolbook-italic-589c826dbb6ed-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}



@font-face {
	font-family: 'akkurat';
	src: url('../fonts/ak/ak.ttf') format('ttf'),
		 url('../fonts/ak/ak.eot') format('eot'),
		 url('../fonts/ak/ak.woff') format('woff'),
		 url('../fonts/ak/ak.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




/* TOUS : CONTAINERS */


html{

	font-size: 16px;
}



body{
	font-family: "newCentury";
	position: absolute;
	background-color: transparent;
	background-image: url('../images/fonds/base/grand-fond.png');
	background-repeat:no-repeat left top;
	background-repeat: repeat;
	background-size: 112rem;
	z-index:-1;   

}





.infos {

   padding: 1.4rem;
    height: 12rem;
    width:18rem;
    line-height: 1.6rem;
    background-color: transparent;
    overflow: visible;
    z-index: 0;


}

nav {

	display: block;
	width: 18rem;
	position: absolute;
	padding: 2.2rem;
	height: 18rem;
	top: 14rem;
	margin-left: 0;
	background-color: transparent;
	z-index: 1;



}

.rubrique{
	background-color: #ffffff;
	line-height: 1.4rem;
	vertical-align: top;
	float: left;
	padding: 2rem;
	color: black;
	padding-bottom: 4rem;
	left: 21.2rem;
	top:7rem;
	position: absolute;
	z-index: 2;
	width:48rem;
	margin-bottom: 10rem;
}


/* TEXT */

/* TOUS */

.invisible{

	display: none;
}

.visible{

	display: block;
}
.akkurat{

	font-family: akkurat;
}

/* TOUS : TITRE */
.infos h1{
	font-size: 3.2rem;
	line-height: 1;
}

.infos h2 {
	font-family: "akkurat";
	padding-left: 2.2rem;
	padding-top: 0.6rem;
	font-size: 1.4rem;
	line-height: 1.8rem;
}


/* TOUS : MENU */

ul.menu{
	font-family: "akkurat";
	font-size: 1.2rem;
	line-height: 2rem;
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 0.4rem;
}


li.menu-item{
	padding: 0.1rem;
	padding-left: 1.2rem;

}

li.menu-item:hover, li.menu-item.is-active {
	background-color: #000000;
	color:#ffffff;
	cursor: pointer;


}


li.menu-item#contact{
	margin-top:0.8rem;
	margin-bottom: 1rem;
}

/* TOUS : MENU > SELECTIONS */

ul.sous-menu {

		margin-bottom:0.4rem;
		margin-top:0.4rem;
		padding-left: 0rem;
		font-size: 1rem;
		line-height: 1.5rem;
}


.puce{

	color: white;
	font-size: 1.2rem;
}

ul.sous-menu li.is-active, ul.sous-menu li:hover {

	background-color: #ffffff;
	color: #000000;

}

ul.sous-menu li.is-active  .puce, ul.sous-menu li:hover  .puce{

	color: #000000;
}

ul.menu.programme #liste-programme, ul.menu.selection #liste-selection, ul.menu.home #liste-selection{

	background-color: black;
	color: white;
}

/*PAGE : HOME*/

.rubrique#home{

	width: 48rem;
	background-color: #ffffff;
	padding-right: 1rem;


}

#home h1{
	font-size: 3.2rem;
	line-height: 4.6rem;


}

#home h2{

	margin-top: 2rem;
	font-size: 2rem;
	margin-bottom: 3rem;
}




sup { 
    vertical-align: super;
    font-size: 1.2rem;
    margin-left: 0.2rem;

}


/*PAGE : A PROPOS*/


#a-propos h1{

	font-size: 3rem;
	margin-bottom: 1.6rem;
	line-height: 3.6rem;	
}

#a-propos p{

	margin-top: 1rem;
	font-size: 1.2rem;
	line-height: 1.7rem;
}



/* PAGE : ECOLES */

.rubrique#ecoles{

	padding-left: 0;
}

.rubrique#ecoles ul{

	display: flex;
	flex-wrap: wrap;
	justify-content:center;

}

#ecoles h1{

	font-size: 1.4rem;
	margin-bottom: 0;

}

#ecoles h2{

	font-size: 1.2rem;
	margin-top: 0.4rem;
	margin-bottom: 0.2rem;
}


#ecoles p, #ecoles h3{

	font-size: 1rem;
	line-height: 1.4rem;	
}

#ecoles p{
		font-family: akkurat;
		font-size: 0.9rem;
		margin: 0;
}


#ecoles em{

	font-family: akkurat;
}


#ecoles li{

	text-align: center;
	width: 15rem;
	margin: 0.6rem;
}


/* PAGE : INTERVENANTS */

.rubrique#intervenants{

	display: flex;
	flex-wrap:wrap;

}

#intervenants li li{

	font-size: 1rem;
	font-family: akkurat;

}

#intervenants>ul{

	width: 40rem;
	padding-left: 2rem;

}

#intervenants h1{

	font-family: akkurat;
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 1.2rem;
	width: 4rem;
	padding-left: 1rem; 
}


#intervenants h2{

	font-size: 1.6rem;
	margin-top: 1.6rem;
	margin-right: 10rem;

}



#intervenants ul li li:nth-child(2) {

	margin-top: 0.6rem;
}

#intervenants li li:nth-child(1) {

	margin-left: 0rem;
	margin-top: 0.8rem;
	width: 90%;
	margin-bottom: 1rem;

}

#intervenants ul li:hover {
	cursor: pointer;
}

.rubrique#intervenants a,  .rubrique.programme .interne {

		margin-top: 0.6rem;
		display: block;
		font-family: akkurat;
}


.rubrique#intervenants a:hover,  .rubrique.programme .interne:hover{

	text-decoration: underline;

}

.rubrique#intervenants em{

	font-style: italic;
}

.rubrique#intervenants .ancre{
	 
  

}

/* PAGE : PROGRAMME > TOUS */


.rubrique.programme{

	margin-bottom: 2.2rem;
	padding-bottom: 2rem;
	

}


#programme .filet{

	border-bottom: solid 1.2px black;
	margin-bottom: 2.6rem;
}

.programme#programme ul>li{

	width: 50%;
	margin-bottom: 2rem;
	align-self:flex-start;
}

.rubrique.programme h1{

	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 0;		
	padding: 0.4rem;
	padding-top: 0;
	margin-left: 0.8rem;
	background-color: white;
	display: inline-block;



}

.rubrique.programme h1 em{

		font-size: 1.6rem;
		font-style: normal;

}


.rubrique.programme h2,
.rubrique.programme h3,
.rubrique.programme h4,
.rubrique.programme h5,
.rubrique.programme img,
.rubrique.programme p{

	margin-left: 1.2rem;

}

.rubrique.programme h2{

	font-family: akkurat;
	font-size: 1rem;
	margin-top: 0.2rem;

}

.rubrique.programme h2.conf{

	font-family: newCentury; 
	font-size: 1.2rem;
	margin-bottom: 0.2rem


}

 .rubrique.programme h3 {

	font-family: akkurat;
	font-size: 1rem;
	line-height: 1.5rem;

}

.rubrique.programme h3 sup {

	font-size: 0.6rem;
	vertical-align: super;
	line-height: 1rem;

}

.rubrique.programme h5{

	margin-bottom: 2rem;

}

.rubrique.programme p {

	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1.2rem;
}

.rubrique.programme img{

	width: 95%;
	margin-top: 1rem;
}


.rubrique.programme .rotation{

}

.rubrique.programme .legende{

	padding-left: 2.4rem;
	margin-bottom: 1rem;
	margin-top: 0.4rem;

}

.rubrique.programme .auteur{

	padding-top: 0.4rem;
}

.rubrique.programme strong{

	font-family: akkurat;
}

.rubrique.programme em{

	font-style: italic;

}



/* PAGE : PROGRAMME > GENERAL */

.programme#programme ul {

	display: flex;
	flex-wrap:wrap;

	

}

.programme#programme sup{

margin-left: 0;

}

/* PAGE : PROGRAMME > COLLOQUE */




.programme#colloque h1{

	font-size: 1.6rem;
}
.programme#colloque h2{

	text-align: left;
	font-size: 1.4rem;
	line-height: 3rem;
	font-family: akkurat;
	

}

.programme#colloque p{

	width: 42rem;
}

.programme#colloque h2,
.programme#colloque h3{

	margin-left: 3rem;
}

.programme#colloque h3.horaire{

	margin-left: 1.2rem;
	font-size: 1.2rem;
	font-family: newCentury;
	margin-top: 2rem;
}

.programme#colloque h4{
	font-family: akkurat;
	font-size: 1rem;
	line-height: 1.5rem;

}

.programme#colloque h4.horaire{

	font-family: newCentury;
	margin-bottom: 0.6rem;
	font-style: italic;

}

.programme#colloque h5{

	margin-left: 1.2rem;
}

.programme#colloque .name{

	margin-left: 0rem;
}

.programme#colloque .name:hover{

	cursor: pointer;

}

.programme#colloque .i{
	float: right;
	margin-right: 1.2rem;
	font-size: 1.4rem;
	font-style: normal;
	width: 1rem;
	text-align: right;
}

.programme#colloque .plus{

	font-style: italic;
	margin-top: 0rem;
	margin-bottom: 0rem;
}


.programme#colloque .detail{

	width:100%;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	padding-left: 0;

}

.programme#colloque table {

	width:40rem;
	margin: 0;
	line-height: 1.4rem;
	margin-bottom: 1.4rem;
	border-top: solid 1px black;
	border-collapse:collapse;
	border-spacing:0;
	color: inherit;
	margin-left: 3rem;
	margin-top: 1rem;
	padding-top: 0;



}


.programme#colloque table td{

	vertical-align: top;
	border: 0;
	border-bottom:solid 1px black;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;


}

/*Diemnsions table*/

.programme#colloque td.heure{ 

	width:20%;
	font-family: "akkurat";
	padding-left: 1rem;


}
.programme#colloque td.inter{ 
	width:80%;}


.programme#colloque .event{

	padding-left: 0rem;
	display: inline-block;
	width:100%;
}

.programme#colloque .langue{

	float: right;
	margin-right: 5rem;

}

.programme#colloque td.lunch{ font-style: oblique; }



.programme#colloque td.invite.noBio{

	padding-left: 0.4rem;

}




.programme#colloque td.invite a,
.programme#colloque h3 a{

	padding: 0.5rem;
	padding-bottom: 0.5rem;

}

/* PAGE : PROGRAMME > AFFICHE */

.rubrique.programme#affiches-des-9-ecoles,
.rubrique.programme#petrole-editions,
.rubrique.programme#la-chose-imprimee,
.rubrique.programme#exemplaires,
.rubrique.programme#papiers-fedrigoni {


	height: 45rem;

}

.rubrique.programme#bnu sup {
   font-size: 0.8rem;
   line-height: 1rem;
   margin-left: 0.1rem;
}

.rubrique.programme#archives-de-la-biennale sup{
   font-size: 0.6rem;
   line-height: 1rem;
   margin-left: 0rem;
}



/* PAGE : CREDITS */


.rubrique#credits{

   width: 48rem;
   padding-left: 1.6rem;
   padding-bottom: 2.4rem;
}

#credits h1:first-of-type {
   margin-top: 0;

}

#credits h1 {

   font-size: 1.6rem;
   font-family: akkurat;
   margin-top: 2rem;
   margin-bottom: 1rem;
}


#credits h1:last-of-type {

   margin-top: 1rem;
   margin-bottom: 1rem;

}

#credits h2 {

   font-size: 1.2rem;
   font-family: akkurat;
   margin-top: 0;
   margin-bottom: 0.6rem;


}


#credits em{
   font-family: akkurat;
   font-size: 0.95rem;
}



#credits ul {


   display: flex;
   flex-wrap:wrap;
   flex-direction: column;
   height: 46rem;
   justify-content: flex-start;
   margin-bottom: 0;

}

#credits ul:last-of-type {

   height: 46rem;
}

#credits .retrait{

   margin-left: 0.6rem;

}

#credits ul li{

   width: 14.8rem;
   margin-bottom: 1rem;

}


#credits ul:first-of-type li{

   margin-left: 1rem;

}

#credits p{

   margin-left: 1rem;

}
#credits strong{

   font-family: akkurat;
}

#credits h3{

   font-family: akkurat;
   font-size: 1.2rem;
   margin-bottom: 0.6rem;

}

#credits ul:first-of-type{

   height: 20rem;
   margin-bottom:1rem;
}



/* Mosaique */

.mosaic_livre{
   display: inline-block;
   margin: 0 30px 30px 0;
}

.mosaic_livre div{
   position: fixed;
   z-index: 10000;
   top: 80px;
   right: 50px;
}

.mosaic_livre div h3{
   font-size: 24px;
   line-height: 26px;
}

.mosaic_livre div h4{
   font-family: 'akkurat';
   font-size: 14px;
   line-height: 18px;
}

.mosaic_livre div h3,
.mosaic_livre div h4{
   width: 180px;
   margin: 10px;
   color: black;
   visibility: hidden;
}

.mosaic_livre:hover div h3,
.mosaic_livre:hover div h4{
   visibility: visible;
}


/* Liste */

.list_livre{
   display: inline-block;
   margin: 0 30px 30px 0;
}

.list_livre div{
   position: fixed;
   z-index: 10000;
   top: 190px;
   right: 50px;
}

.list_livre div h3{
   font-size: 24px;
   line-height: 26px;
}

.list_livre div h4{
   font-family: 'akkurat';
   font-size: 14px;
   line-height: 18px;
}

.list_header h1{

}

.list_livre div h3,
.list_livre div h4{
   width: 180px;
   margin: 10px;
   color: black;
   visibility: hidden;
}

.list_livre:hover div h3,
.list_livre:hover div h4{
   visibility: visible;
}

#encart{
   background: white;
   position: fixed;
   z-index: -1;
   top: 80px;
   right: 50px;
   width: 200px;
   height: 700px;
}

.cf{
}

#home{
   width: 100%;
   background: none;
}

#mosaic{
   width: calc(100% - 500px);
   height: 750px;
   position: fixed;
   left: 250px;
   top: 125px;
   overflow: hidden;
   z-index: -1;
   /* background: white;*/
}
/*
#selection{
   width: calc(100% - 400px);
   height: 750px;
   position: fixed;
   left: 300px;
   top: 100px;
   overflow: hidden;
   z-index: -1;
}
*/

#mosaic-scroll{
   width: 250%;
   height: 100%;
   z-index: 100;
}#mosaic-scroll:first-child{
   margin-left: 50px;
}#mosaic-scroll ul{
   width: 100%;
   list-style: none;
   padding: 0;
   margin: 0 0 0 50px;
}

#mosaic header{
   position: fixed;
   z-index: 999999;
   width: 180px;
   top: 90px;
   right: 60px;
}


#cover_list{
   padding-top: 30px;
}.cover{
   z-index: 9999;
   height: 450px;
   display: inline;
   margin-bottom: 10px;
}

#livre-info{
   z-index: -10;
   position: absolute;
   top: -20px;
   right: -260px;
   width: 200px;
   background: white;
   color: black;
   padding: 20px;
}

#livre-info ul,
#livre-info p:first-child{
   margin-bottom: 10px;
}
.intro p:first-child,
#livre-info ul{
   font-family: 'akkurat';
   font-size: 14px;
}
#livre-info p:first-child,
.rubrique h1,
.wrap h1{
   margin-bottom: 10px;
   font-size: 32px;
   line-height: 34px;
}

figure{
   display: inline-block;
}



/* font-size responsive */

@media only screen and (max-width : 900px) {
   html{
      font-size: 12px;
   }
}



/* PAGE : accés */

.rubrique#acces{
   width: 56rem;
   padding: 0;
}

#acces h1{
   font-size: 1.2rem;
   line-height: 1.4rem;
   margin: 0;
   padding: 0;
}

#acces h2{
   font-size: 20px;
}

#acces p{
   font-family: 'akkurat';
   font-size: 1rem;
   margin: 0.8rem 0 1.4rem 2rem;
   display: none;
   font-size: 1rem;
}
#acces li.visible p{
   display: inline-block;
}

#acces ul{
   display: inline-block;
   width: 20rem;
   overflow: scroll;
   overflow-x: hidden;
   float: right;
   padding-top: 0;
   padding-left: 0.4rem;
   overflow: hidden;
}

#acces li{
   margin-top: 0.8rem;
   border-bottom: 1px solid black;
   padding-bottom: 0.4rem;
}
#acces ul li:first-child{
   margin-top: 0;
   padding-top: 0.4rem;
}

#acces #locate{
   display: inline-block;
   top: 0;
   width: 35rem;
   height: 500px;
   background: black;
}

#acces li:hover h1,
#acces li.visible h1{
}



/* contact */

label, input, textarea {
   display: block;
}
.uniform__potty {
   position: absolute;
   left: -9999px;
}
.error {
   border: 1px solid;
}

#contact label{
   font-family: akkurat;
   margin-top: 1rem;
   margin-left: 1rem;
}

#contact input{
   width: 10rem;
   border-width: 1px;
}

#contact #message{
   width: 30rem;
   height: 10rem;
}

#contact #envoi{
   background: black;
   color: white;
   font-family: akkurat;
   border: none;
   margin-bottom: 2rem;
   margin-left: 25rem;
   width: auto;
   font-size: 1rem;
}

#contact .entree{
   border: 1px solid black;
}

#contact .entree[type="text"],
#contact .entree[type="email"]{
   font-family: "newCentury";
   font-size: 1.2rem;
   line-height: 1.1;
   padding: 0.4rem;
}

#contact .uniform-errors{
   position: absolute;
   top: 3rem;
   left: 15rem;
}

#contact .uniform-errors__item{
   margin-bottom: 2.6rem;
}

#contact h1{
   margin-left: 5rem;
   margin-bottom: 2rem;
}

#contact h2{
   font-family: akkurat;
   font-size: 1.2rem;
   margin-left: 1rem;
}

#contact h3{
   margin-bottom: 1rem;
   font-size: 1.8rem;
}

#contact #answer{
   padding-bottom: 2rem;
}

#contact form{
   margin-left: 5rem;
}



/* font-size responsive */

@media only screen and (max-width : 900px) {
   html{
      font-size: 12px;
   }
}

/* #acces responsive */

@media only screen and (max-width : 1200px) {
   .rubrique#acces{
      width: 40rem;
   }
   #acces #locate{
      width: 18rem;
      height: 500px;
   }
}
@media only screen and (max-width : 700px) {
   #acces ul {
      margin-top: 1rem;
      padding-top: 1rem;
      width: 20rem;
      float: left;
   }
   #acces #locate{
      width: 20rem;
      height: 20rem;
      width: 350px;
   }
}

/* Programme responsive */

@media only screen and (max-width : 700px) {
   #programme {
      width: 25rem;
   }
   .programme#programme ul>li {
      width: 100%;
   }
   .rubrique#colloque{
      left: 17rem;
      width: 20rem;
      padding-left: 0;
   }
   .programme#colloque p {
      width: 20rem;
   }
   .programme#colloque h2,
   .programme#colloque h3,
   .programme#colloque table{
      margin-left: 1rem;
   }
   .programme#colloque table{
      width: 30rem;
      font-size: 0.8rem;
   }
   .programme#colloque td.heure{
      width: 2rem;
   }
   .programme{
      width: 30rem;
   }
}

/* A propos responsive */

@media only screen and (max-width : 700px) {
   #a-propos {
      width: 25rem;
   }
}

/* Ecoles responsive */

@media only screen and (max-width : 700px) {
   .rubrique#ecoles {
      width: 20rem;
   }
   .rubrique#ecoles ul {
      justify-content: flex-start;
   }
}

/* Intervenants responsive */

@media only screen and (max-width : 700px) {
   .rubrique#intervenants {
      width: 30rem;
      left: 18rem;
   }
   #intervenants h1 {
      font-size: 1.4rem;
      width: 1rem;
      margin-left: -2.4rem;
      margin-bottom: 0;
   }
   #intervenants>ul {
      width: 30rem;
      padding-left: 0;
   }
   #intervenants h2 {
      font-size: 1.4rem;
      margin-top: 1.4rem;
      margin-right: 5rem;
   }
}

/* Credits responsive */

@media only screen and (max-width : 700px) {
   .rubrique#intervenants {
      width: 30rem;
      left: 18rem;
   }
   #intervenants h1 {
      font-size: 1.4rem;
      width: 1rem;
      margin-left: -2.4rem;
      margin-bottom: 0;
   }
   #intervenants>ul {
      width: 30rem;
      padding-left: 0;
   }
   #intervenants h2 {
      font-size: 1.4rem;
      margin-top: 1.4rem;
      margin-right: 5rem;
   }
}

/* Credits responsive */

@media only screen and (max-width : 1200px) {
   #credits ul {
      width: 30rem;
      flex-direction: row;
      height: auto;
   }#credits ul:first-of-type {
      height: auto;
   }
}
@media only screen and (max-width : 700px) {
   .rubrique#contact {
      width: 20rem;
   }
}

/* Credits responsive */

@media only screen and (max-width : 700px) {
   .rubrique#contact {
      padding: 0;
      left: 14rem;
      top: 14rem;
      /* width: 48rem; */
   }
}





