body{
   background: #ffffff url('../images/fonds/base/bg-red.png') no-repeat left top;
}

li.menu-item:hover{
   background-color: rgb(255, 0, 0);
}

programme ul li a:hover{
   color: rgb(255, 0, 0);
   background: black;
   background-color: black;
}

#acces li:hover h1{
   color: rgb(255, 0, 0);
}


/* --------------- scrollbar --------------- */

/* Réglages du survole de la barre contenante */
::-webkit-scrollbar-thumb:hover {background: rgb(255, 0, 0);}


/* --------------- selection de textes --------------- */

::selection {
   background: rgb(255, 0, 0);
   color: white;
}
::-moz-selection {
   background: rgb(255, 0, 0);
   color: white;
}